:root {
    --title-text-color:#2E2F42;
    --accent-color: #434455;
    --main-color:#FFFFFF;
    --primary-bg-color:#2E2F42;
    --primary-blue-color:#4D5AE5;
    --footer-color:#E7E9FC;
}

body {
    background-color: #ffffff;
    color: var(--accent-color);
}

.logo {
    color: var(--title-text-color);
    }

    .web {
        color: var(--primary-blue-color);
    }
    .studio {
        color: #F4F4FD;
    }

    /* site-nav */
.site-nav .link {
    color: var(--title-text-color);
}

.auth-nav a {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: blue;
}

.auth-nav .link:hover,
.auth-nav .link:focus{
    color:var(--primary-blue-color);
}
.site-nav .link.current{
    color: var(--primary-blue-color);
}

.footer {
    color: var(--footer-color);
}